<div class="container-fluid py-2 px-4">
    <h1>Administrar tutorias</h1>
    <hr>
    <h2>Mis tutorias</h2>
    <div class="row">
        <% for(tutorship of tutorships){ %>
            <div class="col-sm-12 p-2">
                <div class="card" style="cursor: pointer;">
                    <div class="card-header text-right py-0 text-light <%= tutorship.is_available ? 'bg-success' : 'bg-danger' %>">
                        <small>
                            <%= tutorship.is_available ? 'Disponible' : 'No Disponible' %>
                        </small>
                    </div>
                    <div class="card-body">
                        <h2><%= tutorship.subject.title %></h2>

                        <div class="accordion" id="accordion-<%= tutorship.id %>">
                            <% for(horary of tutorship.horaries){ %>
                                <div class="card">
                                    <button class="py-2 btn <%= tutorship.is_available ? 'btn-success' : 'btn-danger' %>" id="header-<%= horary.id %>"  
                                        type="button" data-toggle="collapse" data-target="#collapse-<%= horary.id %>" aria-expanded="false" 
                                        aria-controls="#collapse-<%= horary.id %>">

                                        <h5 class="mb-0">
                                            <%= moment(horary.date+" "+horary.time).format("DD [de] MMMM [de] YYYY, hh:mm a") %>
                                            - max. <%= horary.max %>
                                            ( <%= horary.available %> <%= horary === 1 ? "lugar disponible" : "lugares disponibles" %>)
                                        </h5>
                                    </button>

                                    <div class="collapse" id="collapse-<%= horary.id %>" aria-labelledby="header-<%= horary.id %>" data-parent="#accordion-<%= tutorship.id %>">
                                        <div class="card-body">
                                            <div class="list-group">
                                                <% for(request of horary.requests){ %>
                                                    <% if(request.status === 0){ %>
                                                        <div class="list-group-item mb-2 bg-warning">
                                                            <%= request.requestor.name %>
                                                            <small class="float-right text-light">Pendiente</small>
                                                            <div class="d-block text-right mt-2">
                                                                <button class="btn btn-success w-25 accept-tutorship-request"
                                                                    data-request-id="<%= request.id %>">
                                                                Aceptar</button>
                                                                <button class="btn btn-danger w-25 reject-tutorship-request"
                                                                data-request-id="<%= request.id %>">
                                                                Rechazar</button>
                                                            </div>
                                                        </div>
                                                    <% } else if(request.status === 1){ %>
                                                        <div class="list-group-item mb-2 bg-success">
                                                            <%= request.requestor.name %>
                                                            <small class="float-right text-light">Aceptado</small>
                                                        </div>
                                                    <% } else if(request.status === 2){ %>
                                                        <div class="list-group-item mb-2 bg-danger text-light">
                                                            <%= request.requestor.name %>
                                                            <small class="float-right">Rechazado</small>
                                                        </div>
                                                    <% } %>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <% } %>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                Horarios con cupo disponible: 
                                <%= tutorship.available %>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>       
</div>