<div class="container">
    <div class="card mt-4">
        <div class="card-header text-right text-light <%= tutorship.is_available ? 'bg-success' : 'bg-danger' %>">
            <span>
                <%= tutorship.is_available ? 'Disponible' : 'No Disponible' %>
            </span>
        </div>
        <div class="card-body">
            <div class="row justify-content-between">
                <h1 class="d-inline-block col-auto"><%= tutorship.subject.title %></h1>
                <div class="text-right col-auto">
                    <small class="text-muted ">
                        Ofrecido por:
                        <strong><i><%= tutorship.owner.name %></i></strong>
                    </small>
                </div>
            </div>
            <hr>
            <h2>Fechas</h2>

            <div class="list-group">
                <% for(horary of tutorship.horaries){ %>
                    <div class="list-group-item p-4 mb-2 <%= tutorship.is_available ? 'bg-success' : 'bg-danger' %>">
                        <div class="row">
                            <div class="col-auto h4">
                                <%= moment(horary.date+" "+horary.time).format("DD [de] MMMM [de] YYYY, hh:mm a") %>
                            </div>
                            <div class="col-auto h5">
                                Grupo de max. 
                                <%= horary.max %>
                                <%= horary.max > 1 ? "personas" : "persona" %>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                Lugares disponibles:
                                <strong>
                                    <%= horary.available %>
                                </strong>
                            </div>
                            <div class="col-auto">
                                <% if(horary.status === null && horary.available > 0){ %>
                                    <button type="button" class="btn btn-primary requestTutorship" data-horary-id="<%= horary.id %>" ><%= __('Request tutorship') %></button>
                                <% }else{ %>
                                    <% if(horary.status === 0){ %>
                                        <button disabled="disabled" class="btn btn-primary">Solicitud pendiente</button>
                                    <% }else if(horary.status === 1){ %>
                                        <button disabled="disabled" class="btn btn-success">Ya estas en este grupo</button>
                                    <% }else if(horary.status === 2){ %>
                                        <button disabled="disabled" class="btn btn-danger">Solicitud rechazada</button>
                                    <%}%>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>